"*":
  "exception-reporting":
    userId: "4898da78-c388-708a-4d17-88d8f20581cb"
  welcome:
    showOnStartup: false
  core:
    audioBeep: false
    themes: [
      "one-light-ui"
      "solarized-light-syntax"
    ]
  editor:
    invisibles: {}
    showInvisibles: true
    showIndentGuide: true
