[user]
  name = {{ name }}
  email = {{ email }}
  signingkey = 0xC92E025EB94DABC0

[url "git@github"]
    insteadOf = github

[url "git@bitbucket"]
    insteadOf = bitbucket

[url "git@gitlab"]
    insteadOf = gitlab

[url "git@pikacode"]
    insteadOf = pika

[color]
    ui = true

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = red

[push]
    default = simple

[commit]
    gpgsign = true

[gpg]
    program = gpg2
