postgresql:
  image: postgres:{{ sonarqube.postgres.version }}
  environment:
    - POSTGRES_USER={{ sonarqube.postgres.user }}
    - POSTGRES_PASSWORD={{ sonarqube.postgres.password }}
  volumes:
   - ./psql:/var/lib/postgresql/data
  ports:
   - "{{ sonarqube.postgres.port }}:5432"
sonarqube:
  image: harbur/sonarqube:{{ sonarqube.version }}
  links:
    - postgresql:db
  environment:
    - DB_USER={{ sonarqube.postgres.user }}
    - DB_PASS={{ sonarqube.postgres.password }}
    - DB_NAME={{ sonarqube.postgres.user }}
  volumes:
   - ./extensions:/opt/sonar/extensions
   - ./logs:/opt/sonar/logs/
  ports:
    - "{{ sonarqube.http.port }}:9000"
