sonarqube:
  image: sonarqube:{{ sonarqube.version }}
  volumes:
    - ./extensions:/opt/sonarqube/extensions
    - ./data:/opt/sonarqube/data
  environment:
    - SONARQUBE_JDBC_USERNAME={{ sonarqube.postgres.user }}
    - SONARQUBE_JDBC_PASSWORD={{ sonarqube.postgres.password }}
    - SONARQUBE_JDBC_URL=jdbc:postgresql://postgres/{{ sonarqube.postgres.user }}
  links:
    - postgres
  ports:
    - "{{ ports.sonarqube.http }}:9000"
postgres:
  image: postgres:{{ sonarqube.postgres.version }}
  environment:
    - POSTGRES_PASSWORD={{ sonarqube.postgres.password }}
    - POSTGRES_USER={{ sonarqube.postgres.user }}
  volumes:
    - ./psql:/var/lib/postgresql/data
  expose:
    - "5432"
